.login-form {
    max-width: 300px;
    margin: 60px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.login-form h1 {
    text-align: center;
}

.login-input {
    width: 90%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    width: 40%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-button {
    width: 40%;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}